@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*................... shared style............................... */

.color-orange {
    color: #FF5400;
}

.color-white {
    color: #FFFF;
}

.color-gry {
    color: #131318B2;
}


/* ...........................header style........................ */


/* nav part */
nav {
    display: flex;
    justify-content: space-around;
    width: 1190px;

}


.logo {
    display: flex;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font: 1rem;
}

nav li>a {
    text-decoration: none;
    color: #424247;
}


/* banner */

.banner-head {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    margin: 0px 100px;
    width: 1190px;
    height: 500px;

}
.banner-input-box
{
     border: none;
     background-color: #f2f2f880;
     border-radius: 16px;
     margin: 10px 160px;
     padding: 16px  ;
    

}

.banner-input {
   
    width: 800px;
    display: flex;
    gap: 20px;
}

.inp
{   
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    
    

}


.banner-head-h1
{
    padding-top: 100px;
    text-align: center;
}





/* .................................Footer style.................. */


@media screen and (max-width: 600px) {

    nav {
        flex-direction: column;
    }

    .banner-head
    {
        height: 40vh;
        margin: 20px;
    }



    /* screen end */
}