@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    max-width: 1200px;
    margin: 10px auto;
    font-family: "Mulish";
}

.white-color {
    color: aliceblue;
}

.orange-color {
    color: #FF5400;
    ;
}

.orange-button {
    background: #FF5400;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}

/*................... shared style............................... */

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;

}

.nav-list>ul>li {
    list-style: none;
    display: flex;
    font-weight: 700;
}

.nav-list>ul {

    display: flex;
    gap: 40px;
}

.banner {

    border-radius: 20px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('/Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center center/cover;
    margin: auto;
    padding: 90px;


}


.header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.header1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.tour {
    display: flex;
    margin-top: 100px;
    gap: 30px;


}

.tour-btn {
    margin-top: 100px;
}

.destination-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.destination-header1
{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}







/* .................................Footer style.................. */


@media screen and (max-width: 600px) {

    body {

        margin: 10px 10px;

    }

    .nav-list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .banner {
        margin: auto;
        padding: 40px;
    }

    .header {

        font-size: 1rem;
    }

    .tour {
        flex-direction: column;

    }

    .tour-container {
        margin: 10px;
        padding: 20px;
    }

    .tour-img {
        margin: 10px;
        padding: 20px;
        width: 80vw;
    }

    .tour-btn {
        margin-top: 20px;
    }

    .destination
    {
        padding: 20px;
    }



    /* screen end */
}

@media screen and (min-width: 600px) and (max-width:950px) {

    body {

        margin: 10px 10px;

    }

    .tour {
        flex-direction: column;

    }

    .tour-container {
        margin: 10px;
        padding: 20px;
        align-items: center;
    }

    .tour-img {
        margin: 10px;
        padding: 20px;
        width: 92vw;
    }

    .tour-btn {
        margin-top: 20px;
    }

    .destination
    {
        padding: 20px;
    }




    /* screen end */
}